@import "tailwindcss";

:root {
  --blue-900: hsl(209, 23%, 22%);
  --blue-950: hsl(207, 26%, 17%);
  --grey-950: hsl(200, 15%, 8%);
  --grey-400: hsl(0, 0%, 50%);
  --grey-50: hsl(0, 0%, 99%);
}

@theme {
  --color-blue-900: hsl(209, 23%, 22%);
  --color-blue-950: hsl(207, 26%, 17%);
  --color-grey-950: hsl(200, 15%, 8%);
  --color-grey-400: hsl(0, 0%, 50%);
  --color-grey-50: hsl(0, 0%, 99%);
}

body {
  font-family: "Nunito Sans", sans-serif;
  background-color: var(--blue-950);
  transition: all 0.2s ease !important;
}
